body{
    background-color: bisque;
    color: brown;
    text-align: center;
}
h1{
    font-size: 36px;
    margin-bottom: 30px;
}
ul{
    padding: 0;
    margin: 0;
}
li {
    list-style: none;
    display: inline-block;
}
li a{

    height: auto;
    font-size: 20px;
    width: 140px;
    padding: 10px;
    margin: 15px;
    border-radius: 80px;
    color: bisque;
    background-color: brown;
    text-decoration: none;
}
a:hover{
    background-color: transparent;
    border: 2px solid brown;
    color: brown;
}
